* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --example: 0;
  /* Colors */
  --main-color: #f2bc94;
  --secondary-color: #30110d;
  --tertiary-color: #722620;
  /* Fonts */
  /* Properties */
}
body {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
#main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}
#calculator-body {
  display: flex;
  position: relative;
  z-index: 20;
  flex-direction: column;
  margin: 10rem auto;
  width: 20rem;
  height: 30rem;
  background-color: var(--secondary-color);
  border: 0.5rem solid black;
  border-radius: 2rem;
}
#display-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 30;
  margin: 10% auto;
  width: 80%;
  height: 20%;
  border: 0.2rem solid whitesmoke;
  border-radius: 1rem;
  background-color: black;
}
#display-content {
  color: whitesmoke;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: right;
  font-size: 4.5rem;
  pointer-events: none;
}
#controls {
  display: grid;
  grid: repeat(6, 1fr) / repeat(3, 1fr);
  gap: 1px;
  margin: 0 auto;
  width: 80%;
  height: 60%;
}
.button {
  position: relative;
  z-index: 30;
  background-color: var(--tertiary-color);
  text-align: center;
  font-size: 1.4rem;
  line-height: 200%;
}
.button:hover:not(.disabled) {
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}
.button:active:not(.disabled) {
  outline: 0.1rem solid white;
}
#shift.engaged {
  background-color: var(--main-color);
  font-weight: bold;
  outline: 0.1rem solid white;
}
#clear {
  outline: 0.1rem solid white;
}
.disabled {
  cursor: not-allowed;
  outline: none !important;
}
