* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --example: 0;
  /* Colors */
  --main-color: #f2bc94;
  --secondary-color: #30110d;
  --tertiary-color: #722620;
  /* Fonts */
  /* Properties */
}
body {
  height: 100%;
  width: 100%;
}
#main-container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
}
